  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'Montserrat';
  font-weight: 800;
  color: #cccccc;
  font-size: 40px;
  margin: 0 30px;
}


.arrow-down {
  position: relative;
  color: #777777;
  z-index: 3;
  height: 30px;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 80px;
}
.waviy span {
  font-family: 'Montserrat';
  font-weight: 800;
  position: relative;
  display: inline-block;
  color: #cccccc;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* Info text */

.info-text-container {
  transform-origin: 100%;
  transition: all .2s linear;
  opacity: 0;
  transform: scaleX(0);
  position: absolute;
  top: 0;
  left: 0;
}

.info-text {
  font-family: 'Montserrat';
  font-weight: 600;
  color: #cccccc;
  margin-top: 20px;
}

.showNav {
  opacity: 1;
  transform: scaleX(1);
}



/* Underline */

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid rgba(168, 239, 255, 0.3);
  margin-left: auto;
}

.navigation {
  color: #cccccc;
  position: relative;
  font-size: 20px;
  transition: all .3s ease-in-out;
  margin-top: 10px;
}

P:hover {
  cursor: pointer;
  letter-spacing: 1px;
}

p::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, rgba(168, 239, 255, 1) 9.6%, rgba(168, 239, 255, 0.3) 93.6%);
}



/* Navigation Icons */

.icon-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-list li {
  list-style: none;
}

.icon-list li a {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 55px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(168, 239, 255, 0.3);
  z-index: 1;
}

.icon-list li a .icon {
  position: relative;
  color: #777777;
  transition: .5s;
  z-index: 3;
}

.icon-list li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.icon-list li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.icon-list li a:hover:before {
  top: 0;
}

.icon-list li:nth-child(1) a:before{
  background: #3b5999;
}

.icon-list li:nth-child(2) a:before{
  background: #0077b5;
}

.icon-list li:nth-child(3) a:before {
  background: #0d1117;
}



/* Project Cards */

.project-card {
  border: 1px solid #7387a7;
  cursor: pointer;
  overflow: hidden;
}

.projects {
  width: 500px;
  height: 300px;
  object-fit: cover;
  object-position: 100% center;
}




@media (max-width: 1320px) {
  .waviy {
    font-size: 50px;
  }

  .main-text-container {
    width: 550px;
  }

  .info-section {
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
  }

  .navigation-container {
    border-left: 2px solid rgba(168, 239, 255, 0.3);
    border-right: none;
    margin-right: auto;
    margin-left: unset;
  }
}
